$canvasHeight: 550px;
$canvasWidth: 700px;
$padding: 15px;

canvas {
  width: $canvasWidth;
  height: $canvasHeight;
  box-sizing: border-box;
}

app-drawing-tools,
app-drawing-properties {
  display: flex;
  flex-direction: column;
  padding: $padding;
  justify-content: space-around;
  align-items: flex-start;
  box-sizing: border-box;
  height: $canvasHeight;
}

@media only screen and (max-width: $canvasWidth * 1.5) {
  app-drawing-tools,
  app-drawing-properties {
    flex-direction: row;
    width: $canvasWidth;
    height: auto;
    font-size: 20pt;
  }
}

@media only screen and (max-width: 768px) {
  canvas {
    width: 320px;
    height: 320px;
  }

  app-drawing-tools,
  app-drawing-properties {
    padding: 10px;
    flex-direction: row;
    align-items: flex-start;
    width: 320px;
    height: auto;
    font-size: 10pt;
  }
}
