button {
  border: none;
  cursor: pointer;
  padding: 10px;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, 0.5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: 30px;
    height: 30px;
  }
}
button:hover {
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5),
    0 0 20px rgba(255, 255, 255, 0.2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 4px #427388;
}

button:disabled {
  pointer-events: none;
  opacity: 0.5;
}

@media only screen and (max-width: 768px) {
  button {
    padding: 5px;
    img {
      width: 20px;
      height: 20px;
    }
  }
}
