<form [formGroup]="figurePropertiesForm">
  <h3 class="coloredText">Figure properties</h3>
  <span>line width: {{ figurePropertiesForm.controls.lineWidth.value }}</span>
  <input type="range" formControlName="lineWidth" min="1" max="10" />
  <label>Line color <input type="color" formControlName="lineColor" /></label>
  <label>Fill color <input type="color" formControlName="fillColor" /></label>
  <label
    >Filling
    <input type="checkbox" formControlName="filling" />
  </label>
</form>
<form [formGroup]="textPropertiesForm">
  <h3 class="coloredText">Text properties</h3>
  <select formControlName="font">
    <option>Times New Roman</option>
    <option>Impact</option>
    <option>Arial</option>
    <option>Verdana</option>
    <option>Courier</option>
    <option>Comic Sans MS</option>
  </select>
  <label>
    Font size
    <input type="number" min="1" max="50" formControlName="fontSize"
  /></label>
  <label>Font color <input type="color" formControlName="fontColor" /></label>
  <label class="font-style">
    Font style
    <input type="checkbox" id="weight-checkbox" formControlName="fontWeight" />
    <label for="weight-checkbox" class="weight-font">Ж</label>
    <input
      type="checkbox"
      id="cursive-checkbox"
      formControlName="fontCursive"
    />
    <label for="cursive-checkbox" class="cursive-font">К</label>
  </label>
  <label>Your text</label>
  <input type="text" formControlName="text" />
</form>
