$imageSize: 25vw;

.picture {
  padding: 20px;
  margin: 20px;
  font-size: 14pt;
  max-width: $imageSize;
  div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    p {
      overflow: hidden;
    }
    button {
      background: none;
      font-size: 20pt;
      padding: 0px;
      color: red;
      border: none;
      outline: none;
      cursor: pointer;
      margin-left: 15px;
    }
  }
  img {
    width: $imageSize;
    height: $imageSize;
    background-color: white;
  }
}

@media only screen and (max-width: 768px) {
  .picture {
    padding: 8px;
    margin: 10px;
    font-size: 15pt;
    p {
      margin: 0px;
    }

    div {
      margin: 0px 0px 10px 0px;
      button {
        font-size: 10pt;
      }
    }
  }
}
