$searchWidth: 350px;
$searchHeight: 40px;
$imageSize: 25vw;

.picture {
  padding: 20px;
  margin: 20px;
  font-size: 14pt;
  max-width: $imageSize;
  p {
    margin: 0px 0px 20px 0px;
    overflow: hidden;
  }
  img {
    width: $imageSize;
    height: $imageSize;
    background-color: white;
  }
}

.search-line {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  div {
    border: 2px solid white;
    padding: 0px;
    input,
    button {
      border: none;
      background-color: rgba(0, 0, 0, 0);
      font-size: 15pt;
    }
    input {
      width: $searchWidth;
      height: $searchHeight;
      padding-left: 10px;
    }
    input:focus,
    button:focus {
      outline: none;
    }
    button {
      height: $searchHeight;
      margin-right: 10px;
      cursor: pointer;
    }
  }
}

@media only screen and (max-width: 768px) {
  .picture {
    padding: 8px;
    margin: 10px;
    font-size: 15pt;
    p {
      margin: 0px 0px 10px 0px;
    }
  }

  .search-line {
    div {
      input,
      button {
        font-size: 15pt;
      }
      input {
        width: 200px;
        height: 30px;
      }
      button {
        height: 30px;
      }
    }
  }
}
