$contentWidth: 250px;

.activeLink {
  background-color: rgb(91, 199, 158);
  color: white;
}

div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 30px;
  box-sizing: border-box;
}

.navigation-div {
  padding: 10px;
  box-sizing: border-box;
}

.content-div {
  max-width: $contentWidth;
  text-align: center;
}

a {
  padding: 10px 40px;
  background-color: rgb(69, 92, 99);
  color: rgb(158, 173, 176);
  font-size: 15pt;
}

@media only screen and (max-width: 768px) {
  a {
    font-size: 8pt;
  }
}
