h1 {
  margin: 0px;
  font-family: Impact, 'Arial Narrow Bold', sans-serif;
  color: rgb(158, 173, 176);
}

a {
  font-size: 20pt;
  cursor: pointer;
  padding: 5px;
  margin: 5px;
}

a:hover {
  opacity: 0.6;
}

.activeLink {
  opacity: 0.6;
}
