h1 {
  margin: 0;
  font-family: Impact, 'Arial Narrow Bold', sans-serif;
  color: rgb(158, 173, 176);
}

.links-div {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  min-width: 200px;
  justify-content: space-around;
  flex-wrap: wrap;
  a {
    font-size: 20pt;
    cursor: pointer;
  }

  a:hover {
    opacity: 0.6;
  }
}
