$contentWidth: 250px;
$contentHeight: 250px;

button {
  border: none;
  width: 100%;
  font-size: 20pt;
  cursor: pointer;
  padding: 10px;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, 0.5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

button:hover {
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5),
    0 0 20px rgba(255, 255, 255, 0.2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388;
}

button:disabled {
  pointer-events: none;
  opacity: 0.5;
}

input {
  position: relative;
  width: $contentWidth;
  padding: 2px 2px;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid rgb(158, 173, 176);
  font-size: 14pt;
  margin-bottom: 20px;
}

input:focus {
  box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.5),
    0 0 20px rgba(255, 255, 255, 0.2);
}

input.ng-touched.ng-invalid {
  border: 2px solid rgba(255, 0, 0, 0.418);
}
