@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,400;1,700&display=swap');
$contentColor: rgb(91, 199, 158);
$backgroundColor: rgb(40, 50, 59);

.coloredBackground {
  background-color: $contentColor;
  color: white;
}

.coloredText {
  color: $contentColor;
}

body {
  background-color: rgb(193, 189, 186);
  margin: 0;
  min-width: 762px;
  box-sizing: content-box;
}

* {
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
}

.window-div {
  background-color: $backgroundColor;
  box-shadow: 0 0 15px $backgroundColor;
}

router-outlet + * {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

a {
  text-decoration: none;
}
